<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="row mt-5">
        <div class="col-md-3 offset-2">
            <div class="card">
                <h5 class="card-header text-center">Libre</h5>
                <div class="card-text mt-3 text-center">
                    <h3 ><b>$0</b> <span id="mes" class="text-secondary"> / mes</span></h3>
                    <div class="mt-2">
                    <p>10 usuarios incluidos <br>
                        2GB de almacenamiento <br>
                        Soporte de correo electrónico <br>
                        Acceso al centro de ayuda
                    </p>
                    </div>
                    <div class="mt-2">
                        <a href="#" class="btn btn-outline-primary">Registrate gratis</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-left: -60px;">
            <div class="card">
                <h5 class="card-header text-center">Pro</h5>
                <div class="card-text mt-3 text-center">
                    <h3 ><b>$15</b> <span id="mes" class="text-secondary"> / mes</span></h3>
                    <div class="mt-2">
                    <p>20 usuarios incluidos <br>
                        10GB de almacenamiento <br>
                        Soporte prioritario por correo electrónico <br>
                        Acceso al centro de ayuda
                    </p>
                    </div>
                    <div class="mt-2">
                        <a href="#" class="btn btn-primary">Empezar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-left: -60px;">
            <div class="card">
                <h5 class="card-header text-center">Empresa</h5>
                <div class="card-text mt-3 text-center">
                    <h3 ><b>$29</b> <span id="mes" class="text-secondary"> / mes</span></h3>
                    <div class="mt-2">
                    <p>30 usuarios incluidos <br>
                        15GB de almacenamiento <br>
                        Soporte telefónico y por correo electrónico<br>
                        Acceso al centro de ayuda
                    </p>
                    </div>
                    <div class="mt-2">
                        <a href="#" class="btn btn-primary">Contáctenos</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</body>
</html>