<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <span id="logo" class="navbar-item mb-0 h2 text-uppercase">CERTUS</span>
        <div id="items">
        <span class="navbar-item mb-0 p mr-4">Características</span>
        <span class="navbar-item mb-0 p mr-4">Soporte para empresas</span>
        <span class="navbar-item mb-0 p mr-4">Precios</span>
        </div>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Inscribirse</button>
    </nav>

    <main class="text-center mt-5">
        <h1 class="font-weight-normal">Precio</h1>        
        <p>Adquiere uno de nuestros planes en promoción.</p>
    </main>
</body>
</html>
